<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Review</title>
    <link rel="stylesheet" href="../../static/css/review_style.css">
    <link rel="stylesheet" href="../../static/css/styles.css">
</head>
<body>
  <!-- HEADER -->
  {% include 'includes/header.html' %}

    <main class="review_page">
        <h1 id="place-title">Loading...</h1>
        <div id="place-info"></div>

        <form id="review-form" class="review-form">

            <!-- Average rating display -->
            <div class="numerical-rating">
                <span id="numerical-rating"></span>
            </div>

            <div class="star-rating">
                <input type="radio" name="rating" id="star5" value="5" required>
                <label for="star5" class="star">★</label>

                <input type="radio" name="rating" id="star4" value="4">
                <label for="star4" class="star">★</label>

                <input type="radio" name="rating" id="star3" value="3">
                <label for="star3" class="star">★</label>

                <input type="radio" name="rating" id="star2" value="2">
                <label for="star2" class="star">★</label>

                <input type="radio" name="rating" id="star1" value="1">
                <label for="star1" class="star">★</label>
            </div>
            <label for="review">Your Review:</label>
            <textarea id="review" name="review" required placeholder="Spill the tea -- how was your stay?"></textarea>

            <div class="review-submit-button">
                <button type="submit" class="submit-btn">Submit Review</button>
            </div>
        </form>
    </main>

    <!-- FOOTER -->
    <!-- {% include 'includes/footer.html' %} -->
    {% include 'includes/footer.html' %}
    
    <script src="../../static/javascript/add_review.js"></script>

</body>
</html>
