/* Footer bar */
footer {
  background-color: #4d4d4d;
  color: white;
  text-align: center;
  padding: 16px 0;
  width: 100%;
  height: 50px;
  position: relative; /* Stay in normal doc flow */
  margin-top: 40px; /* Space before footer */
  font-size: 18px;
  letter-spacing: 0.5px;
}
