header {
  background-color: #e0241a;
  padding: 6px 16px;
}

:root {
  --content-width: 800px;
  --brand-red: #e0241a;
}

.header-container {
  width: 100%;
  max-width: var(--content-width);
  height: 50px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 50px;
  display: block;
}

header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

header nav li {
  display: inline-block;
}

.login-button {
  color: white;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
}

.login-button:hover {
  text-decoration: underline;
  color: white;
}
