/*GRACE*/
/* ------------ GLOBAL -------------- */
body {
  background-color: #f8f8f8;
  font-family: Arial, sans-serif;
  color: #434343;
}

main {
  max-width: 1300px;
  margin: 0 auto;
  padding: 40px 20px;
}

:root {
  --content-width: 1300px;
  --brand-red: #e0241a;
}

/* ====== Login Page Container ====== */

#login-form {
  background-color: #fff;
  width: 100%;
  max-width: 500px;
  height: 450px;

  margin: 40px auto; /* center on page */
  padding: 20px 30px;

  border: 1px solid #ddd;
  border-radius: 10px;

  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  
}

#login-form h2 {
  text-align: center;
  font-size: 30px;;
  margin-bottom: 1.5rem;
}

/* ====== Labels & Inputs ====== */

#login-form label {
  display: block;
  margin-bottom: 5px;
  font-size: 20px;
}

#login-form input {
  width: 100%;
  padding: 10px;

  border: 1px solid #e9a6a1;
  border-radius: 8px;
  box-sizing: border-box;

  margin-bottom: 15px;
  font-size: 16px;
}

/* ====== Login Button ====== */

#login-form button {
  width: 100%;
  padding: 12px;
  margin-top: 100px;

  background-color: #e0241a;
  color: white;
  font-size: 18px;
  font-weight: bold;

  border: none;
  border-radius: 10px;
  box-sizing: border-box;

  cursor: pointer;
}

#login-form button:hover {
  text-decoration: underline;
  background-color: #4d4d4d;
}

/* Make main content centered vertically */
/*main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}*/
