body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
    color: #434343;
}

main {
    padding: 40px;
}

h1 {
    margin-top: 50px;
    text-align: center;
    font-size: 30px;
    margin-bottom: 30px;
    color: #434343;
    background-color: rgb(185, 185, 185);
    padding: 50px;
}

/*Review Form*/
.review-form {
    width: 100%;
    max-width: 900px;
    margin: 20px auto;
    padding: 30px;
    border-radius: 10px;
}

.review-form label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
}

.review-form textarea {
    width: 100%;
    min-height: 120px;
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 10px;
    margin-bottom: 20px;
}

.review-form textarea:focus {
    border: 1px solid #ccc;
    outline: none;
}

.review-form select {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin-bottom: 20px;
}


/* Rating */
.rating-label {
    text-align: center;
    font-size: 60px;
    margin-bottom: 10px;
    font-weight: bold;
    color: #e0241a;
}

.star-rating {
    justify-content: center;
    direction: rtl;   /* makes clicking behavior intuitive */
    display: flex;
    gap: 10px;
    font-size: 50px;
    cursor: pointer;
    margin-bottom: 20px;
}

/* Hide radio inputs */
.star-rating input {
    display: none;
}

.star {
    color: transparent; 
    -webkit-text-stroke: 1px #6a6a6a; 
    transition: color 0.2s, -webkit-text-stroke-color 0.2s;
}

.star:hover,
.star:hover ~ .star {
    color: rgb(255, 208, 0);
    -webkit-text-stroke-color: rgb(255, 208, 0);
}

.star-rating input:checked ~ label {
    color: rgb(255, 208, 0);
    -webkit-text-stroke-color: rgb(255, 208, 0);
}


/*Submit button*/
.submit-btn {
    margin-top: 15px;
    width: 100%;
    background: #e0241a;
    color: white;
    padding: 10px;
    border: none;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
}

.submit-btn:hover {
  background-color: black;
} 