/* ------------ GLOBAL -------------- */
body {
  background-color: #f8f8f8;
  font-family: Arial, sans-serif;
  color: #434343;
}

main {
  max-width: 1300px;
  margin: 0 auto;
  padding: 40px 20px;
}

:root {
  --content-width: 1300px;
  --brand-red: #e0241a;
}

/* ---------- HERO IMAGE ---------- */
.hero-img {
  width: 50%;
  display: block;
  border-radius: 16px;
  margin: 40px auto 0; 
}

/*Review Form*/
.hero-heading {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 30px;
  font-size: 50px;
}

.review-form {
    width: 100%;
    max-width: var(--content-width);
    margin: 20px auto;
    padding: 30px;
    border-radius: 10px;
}

.review-form label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
}

label[for="review"] {
  font-size: 30px;
  padding-bottom: 10px;
}

#review {
  font-size: 25px;
  padding: 20px;
}

.review-form textarea {
    width: 100%;
    min-height: 120px;
    border: 1px solid #e9a6a1;
    border-radius: 6px;
    padding: 10px;
    margin-bottom: 20px;
}

.review-form textarea:focus {
    border: 1px solid #e9a6a1;
    outline: none;
}

.review-form select {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin-bottom: 20px;
}

/* Rating */
.rating-label {
    text-align: center;
    font-size: 80px;
    margin-bottom: 10px;
    font-weight: bold;
    color: #e0241a;
}

.star-rating {
    justify-content: center;
    direction: rtl;   /* makes clicking behavior intuitive */
    display: flex;
    gap: 10px;
    font-size: 60px;
    cursor: pointer;
    margin-bottom: 20px;
}

/* Hide radio inputs */
.star-rating input {
    display: none;
    font-size: 30px;
}

.star {
    color: transparent; 
    -webkit-text-stroke: 1px #6a6a6a; 
    transition: color 0.2s, -webkit-text-stroke-color 0.2s;
}

.star:hover,
.star:hover ~ .star {
    color: rgb(255, 208, 0);
    -webkit-text-stroke-color: rgb(255, 208, 0);
}

.star-rating input:checked ~ label {
    color: rgb(255, 208, 0);
    -webkit-text-stroke-color: rgb(255, 208, 0);
}


/*Submit button*/
.submit-btn {
  background-color: var(--brand-red);
  color: white;
  font-size: 30px;
  font-weight: bold;
  margin-top: 20px;
  padding: 12px 24px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: #4d4d4d;
}