body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
    color: #333;
}

main {
    padding: 40px;
}

h1 {
    text-align: center;
    font-size: 32px;
    margin-bottom: 30px;
}

h2 {
    font-size: 22px;
    margin-bottom: 15px;
}

/*Review Form*/
.review-form {
    width: 100%;
    max-width: 900px;
    margin: 20px auto;
    padding: 30px;
    border-radius: 10px;
}

.review-form label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
}

.review-form textarea {
    width: 100%;
    min-height: 120px;
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 10px;
    margin-bottom: 20px;
}

.review-form select {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin-bottom: 20px;
}


/* Rating */
.star-rating {
    justify-content: center;
    direction: rtl;   /* makes clicking behavior intuitive */
    display: flex;
    gap: 5px;
    font-size: 32px;
    cursor: pointer;
    margin-bottom: 20px;
}

.star-rating input {
    display: none;
}

.star {
    color: #ccc;
    transition: color 0.2s;
}

.star:hover,
.star:hover ~ .star {
    color: gold;
}

.star-rating input:checked ~ label {
    color: gold;
}


/*Submit button*/
.submit-btn {
    width: 100%;
    background: orange;
    color: white;
    padding: 15px;
    border: none;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
}

.submit-btn:hover {
  background-color: gray;
} 