header {
  background-color: #ff7a00;
  padding: 6px 16px;
}

.header-container {
  width: 100%;
  height: 50px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 50px;
  display: block;
}

header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

header nav li {
  display: inline-block;
}

.login-button {
  color: #ffffff;
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
}

.login-button:hover {
  text-decoration: underline;
}
