* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

main {
  padding: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.places-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#places-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.card-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.place-card {
  margin: 20px;
  padding: 10px;
  border: 1px;
  border-radius: 15px;
  width: 280px;
  height: auto;
  /*padding: 30px;*/
  text-align: center;
  overflow: hidden;
}

.container-title {
  font-size: 3rem;
  margin-bottom: 35px;
  text-align: center;
}

.card-title {
  font-size: 1.8rem;
  word-wrap: break-word;
  margin-bottom: 20px;
}

/* Price and rating */
.price-box {
  display: flex;               /* flex container */
  justify-content: space-between; /* place price and rating at opposite ends */
  align-items: center;         /* vertically align price and rating */
  background-color: #ca243f;
  width: 100%;
  padding: 15px 15px;
  border-radius: 10px;
  color: white;
  margin: -20px auto 0 auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  position: relative;
  z-index: 5;
  gap: 1rem;
}

.price, .rating {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.price-label, .rating-value  {
  font-size: 1rem;
}

.price-value, .rating-value {
  font-size: 2rem;
  font-weight: bold;
}

.details-button {
  margin-top: 25px;
  color: #4d4d4d;
  font-size: 15px;
  background: none;
  border: none;
  border-radius: 5px;
  padding: 10px;
  text-decoration: underline;
}

.details-button:hover {
  color: #ca243f;
  cursor: pointer;
  text-decoration: underline;
}

.filter-container {
  display: flex;
  justify-content: flex-end; /* pushes child to the right */
  margin-bottom: 1rem; /* optional spacing */
}

#filter {
  display: flex;              
  justify-content: flex-end;  
  margin-bottom: 25px;       
  width: 100%;           
}

#filter label {
  padding-right: 10px;
  font-weight: bold;
  font-size: 1.25rem;
}

#price-filter {
  float: right;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: 1px solid #ca243f;
}

.image-wrapper {
  width: 100%;
  height: 200px; /* control the image display height */
  overflow: hidden; /* crop overflow */
  border-radius: 12px;
  margin-bottom: 0;
  position: relative; /* allows overlapping */
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
  display: block;
}

