/* ====== Login Page Container ====== */

#login-form {
  position: relative;
  z-index: 2; 

  background-color: rgba(255, 255, 255, 0.9);;
  width: 100%;
  max-width: 400px;
  min-height: 400px;

  margin: 40px auto; /* center on page */
  padding: 20px 30px;

  border-radius: 20px;

  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

#login-form h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  margin-top: 1.7rem;
}

/* ====== Labels & Inputs ====== */

#login-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

#login-form input {
  width: 100%;
  padding: 10px;

  border: 1px solid #ca243f;
  border-radius: 8px;

  margin-bottom: 15px;
  font-size: 16px;
}

/* ====== Login Button ====== */

#login-form button {
  width: 100%;
  padding: 12px;
  margin-top: 3rem;

  background-color: #ca243f;
  color: white;
  font-size: 18px;
  font-weight: bold;

  border: none;
  border-radius: 10px;

  cursor: pointer;
}

#login-form button:hover {
  text-decoration: underline;
  background-color: #404040;
}

/* Make main content centered vertically */
main {
  position: relative;
  z-index: 1;    

  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

/* background image */
body {
  background-image: url("../../static/images/hbnb_background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
}

