/* ====== Login Page Container ====== */

#login-form {
  background-color: #fff;
  width: 100%;
  max-width: 400px;

  margin: 40px auto; /* center on page */
  padding: 20px 30px;

  border: 1px solid #ddd;
  border-radius: 10px;

  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

#login-form h2 {
  text-align: center;
  margin-bottom: 1.5rem;
}

/* ====== Labels & Inputs ====== */

#login-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

#login-form input {
  width: 100%;
  padding: 10px;

  border: 1px solid #ddd;
  border-radius: 8px;

  margin-bottom: 15px;
  font-size: 16px;
}

/* ====== Login Button ====== */

#login-form button {
  width: 100%;
  padding: 12px;

  background-color: #ff7a00;
  color: white;
  font-size: 18px;
  font-weight: bold;

  border: none;
  border-radius: 10px;

  cursor: pointer;
}

#login-form button:hover {
  text-decoration: underline;
}

/* Make main content centered vertically */
main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}
