/* ====== Place Details Section ====== */

.place-info {
  background-color: white;
  margin: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.place-details h1 {
  margin-bottom: 1rem;
  text-align: center;
}

.place-info p {
  margin-bottom: 0.5rem;
  text-align: center;
}

/* ====== Reviews List ====== */

#reviews {
  margin-top: 2rem;
}

.review-card {
  background-color: #fff;
  margin: 20px 0;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
}

/* ====== Add Review Button Section ====== */

.add-review-btn-section {
  margin-top: 1.5rem;
}
