/* ====== REVIEW FORM ====== */

.review-form {
  width: 100%;
  max-width: 900px;
  margin: 20px auto;
  padding: 30px;
  border-radius: 10px;
  text-align: left;
}

.review-form label {
  display: block;
  font-weight: bold;
  margin-bottom: 8px;
}

.numerical-rating {
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
}

.review-form textarea {
  width: 100%;
  font-size: 1rem;
  min-height: 160px;
  border: 1px solid #ca243f;
  border-radius: 6px;
  padding: 10px;
  margin-bottom: 20px;
  transition: border-color 0.2s ease; 
  line-height: 1.5;
}

.review-form textarea:focus {
  border-color: #ca243f; 
  outline: none; 
}

/* ====== RATING ====== */

.star-rating {
  justify-content: center;
  direction: rtl; 
  display: flex;
  gap: 5px;
  font-size: 40px;
  cursor: pointer;
  margin-bottom: 20px;
}

.star-rating input {
  display: none;
}

.star {
  color: #ccc;
  transition: color 0.2s;
}

.star:hover,
.star:hover ~ .star {
  color: gold;
}

.star-rating input:checked ~ label {
  color: gold;
}

/* ====== Button ====== */

.submit-btn {
  background: #ca243f;
  color: white;
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 15px;
  border: 1px solid #ddd;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: #404040;
}

main {
  width: 100%;
  max-width: 1200px; 
  margin: 0 auto;
  padding-top: 2rem;
  text-align: center;
}

