* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  background-color: #f4f4f4;
  color: #333;
  /* make content full to screen */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  background-color: #ff7a00;
  padding: 6px 16px;
}

.header-container {
  width: 100%;
  height: 50px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 50px;
  display: block;
}

header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

header nav li {
  display: inline-block;
}

.login-button {
  color: #ffffff;
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
}

.login-button:hover {
  text-decoration: underline;
}

main {
  padding: 2rem;
  flex: 1;
}


/* Footer bar */
footer {
  background-color: #ff7a00;
  color: white;
  text-align: center;
  padding: 16px 0;
  width: 100%;
  height: 50px;
  position: relative; /* Stay in normal doc flow */
  margin-top: 40px; /* Space before footer */
  font-size: 18px;
  letter-spacing: 0.5px;
}